{
  "plugins": ["react-hooks", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": "error",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".tsx"] }
    ],
    "react/jsx-one-expression-per-line": "off",
    "import/no-unresolved": "off",
    "react-hooks/rules-of-hooks": "error",
    "no-confusing-arrow": "off",
    "prettier/prettier": ["error"],
    "react/jsx-wrap-multilines": "off",
    "react/jsx-indent": "off",
    "import/prefer-default-export": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "react/static-property-placement": ["error", "static public field"],
    "react/state-in-constructor": ["error", "never"],
    "react-hooks/exhaustive-deps": "off",
    "import/no-default-export": "error",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/extensions": "off"
  },
  "extends": ["eslint-config-airbnb", "prettier"]
}
